.button_common {
    background-color: olivedrab;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    margin: 1rem;
    width: 90%;
}

.error {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 16px;
    padding: 0px 1rem;
}


.alert-success{
    color: green;
    text-align: left;
    margin: auto;
    font-size: 16px;
    padding: 0px 1rem;
  }

/* login & register */
.mainWrapper {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.mainWrapper>form input,
.tabContent>form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}

.mainWrapper>form label {
    display: flex;
    padding-left: 20px;
}



/* header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.logo {
    font-size: 24px;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navlinks li {
    margin: 0;
}

.navlinks li a {
    text-decoration: none;
    color: white;
}

.navlinks li a:hover {
    text-decoration: underline;
}


/* home */
.tabContent {
    padding: 20px;
}

.tabs {
    display: flex;
}
.tab {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

/* profile */
.mainWrapper h4{
    padding: 16px;
    font-size: 24px;
}
.username{
    display: flex;
    font-size: 18px;
    margin-bottom: 12px
}
.wrapper{
    background-color: #d3d3d3;
    border-radius: 6px;
    padding: 5px 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: olivedrab;
    margin-bottom: 5px;
}
.walletLeft{
    flex-direction: column;
    display: flex;
    text-align: initial;
}
.walletLeft span:first-child{
    font-size: 14px;
}
.walletRight button{
    background: transparent;
    border: 0;
    color: #fff;
}
.walletRight button:hover{
    color: #000;
}
